<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Informatics Project</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <link rel="icon" href="img/icon.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body style="background-color:gray;">
    <header class="">
      <nav class="navbar navbar-expand-md bg-dark sticky-top">
        <div class="container-fluid">
          <a href="{{ url_for('index') }}" class="navbar-brad"><img src="{{ url_for('static', filename='image/icon.png') }}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon text-white">&#9776;</span>
          </button>
            <div class="collapse navbar-collapse mt-2" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active mb-2">
                  <a href="{{ url_for('index') }}" class="nav-link text-white">Трансляция</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item mb-2">
                  <a href="{{ url_for('logout') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</button>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <main style="padding: 11%;">
      <div class="bg-dark rounded-lg" style="width: 95%; margin: 50px auto">
        <div class="text-white p-3" style="width: 95%; margin: 50px auto;">
          <h4 class="text-center mb-5 text-white"> Панель администратора</h4>
              {% for item in user_table %}
                <forrm class="form-inline mb-1">
                  <div class="text-white align-text-bottom mr-2">{{ item.id }}</div>
                  <input name="nickname" placeholder="Nickname" class="bg-dark text-white form-control mr-1" value='{{ item.username }}'>
                  <input name="email" placeholder="Email" class="bg-dark form-control text-white mr-1" value='{{ item.email }}'>
                  <input name="telegram_key" placeholder="Telegram Key" class="bg-dark text-white mr-1 form-control" value='{{ item.telegram_key }}'>
                  <input name="chat_id_telegram" placeholder="Telegram Chat ID" class="bg-dark text-white mr-1 form-control" value='{{ item.chat_id_telegram }}'>
                  <input name="user_type" placeholder="User type" class="bg-dark text-white mr-1 form-control" value='{{ item.user_type }}'>
                  <button class="btn btn-success mr-1" title="Сохранить изменения">&#128190;</button>
                  <button class="btn btn-danger" title="Удалить пользователя">&#128465;</button>
                </forrm>
              {% endfor %}
        </div>
      </div>
    </main>
    <footer class="container-fluid bg-dark p-3 text-white">
      <div class="container">
        <div class="row padding text-center">
          <div class="col-12">
            <p>&copy; Project by Lespir and Demezy</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../static/javascript.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" type="text/javascript"></script>
  </body>
</html>
